    :root{
  --bg:#0f1724;
  --card:#0b1220;
  --muted:#94a3b8;
  --accent:#0ea5e9;
  --accent-2:#60a5fa;
  --white:#fff;
  --container-max:1100px;
  font-family: 'Outfit', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

*{box-sizing:border-box}
body{
  margin:0;
  background:var(--bg);
  color:var(--white);
  line-height:1.5;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.container{
  width:90%;
  max-width:var(--container-max);
  margin:0 auto;
}

.logo{height:40px}

/* Buttons */
.btn{
  display:inline-block;
  padding:.6rem 1.1rem;
  background:var(--accent);
  color:#031023;
  text-decoration:none;
  border-radius:8px;
  font-weight:700;
}

/* utility img */
.img-responsive{max-width:100%;height:auto}
